<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ImmersiveAssetLibrary</title>

    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    /> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css"
    />
    <style>
      .login-page {
        height: 500px;
      }
      .title {
        font-family: Oswald;
        color: #2b7a9e;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
      }
      .background-color {
        background: linear-gradient(to left, #f1f1f1 200px, #fff 100px);
        z-index: -10;
      }
      .login-img {
        z-index: 10;
      }
      .theme-color,
      .theme-color:hover {
        background: linear-gradient(to left, #155e60, #2b7a9e);
        color: white;
      }
      .theme-color-outline,
      .theme-color-outline:hover {
        outline: solid 1px;
        outline-color: #38779963;
        color: #387799;
      }
      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px; /* Height of the footer */
      }
      .tab-content-height {
        height: 500px;
      }
      .enrollment-row {
        height: 10%;
      }
      .input-icons i {
        position: absolute;
      }

      .input-icons {
        width: 100%;
        flex: 1 0 0;
      }
      .password-page-btn {
        width: 100%;
      }
    </style>
  </head>
  <!-- site bar -->
  <header>
    <% if (isLoginpage) { %> <%- include('./sitebar'); %> <% } %>
    </header>
  <body class="d-flex flex-column min-vh-100">
    <main class="container m-auto">
    

