<!-- loading spinner -->
<div id="modal-spinner" class="modal d-none zindex-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 239px">
      <div class="modal-header p-0 border-0">
        <div class="spinner-border theme-spinner" role="status">
        </div>
      </div>
      <div class="modal-body d-flex bg-transparent p-0 pt-3">
        <p style="font-size: 18px;"id= "modal-spinner-message" class="upload-btn m-0">Uploading...</p>
      </div>
      </div>
    </div>
  </div>
</div>
<script>
   const modalSpinner = document.getElementById("modal-spinner");
  function showModal(modalType) {
      modalType.classList.remove("d-none");
      modalType.classList += " d-flex";
    }
    function clickPublish() {
    showModal(modalSpinner)
    setTimeout(function(){createUploadContent()},1000);
    modalSpinner.getElementsByTagName("p")[0].innerText = "Publishing..."
  }
</script>