<%- include('partials/header') %>
<link rel="stylesheet" href="modellist.css">

<div class="container-fluid px-5" id="top-bar">
  <br><br>
  <div class="mx-auto" style="display: flex;">
    <form class="" style="width:400px;" action="changeAssetType" method="post">
      <label style="font-size:1.5em;" for="search">Download Assets : </label>
      <select class="" style="font-size: 1.2em; background: none; border: none;" name="type">
        <option value="3dmodel">3D Model</option>
        <option value="script">Script</option>
        <option value="360">360 Image</option>
      </select>
    </form>
    <form class="" style=" margin: auto; width:400px;" action="search" method="post">
      <label for="search"></label>
      <input class=" large" type="text" name="searchterm" value="">
      <button class="font-italic large" name="button">Search</button>
    </form>
  </div>
  <hr>
  <div class="mx-auto" style="display: flex;">
    <form class="" style="width:120px;" action="changeAssetType" method="post">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected>Format</option>
        <option value="obj">.obj</option>
        <option value="fbx">.fbx</option>
      </select>
    </form>
    <input type="checkbox" name="animated" value="animated">
    <label class="px-3" for="animated">Animated</label>
    <input type="checkbox" name="low-poly" value="lowpoly">
    <label class="px-3" for="lowpoly">Low Poly</label>
    <input type="checkbox" name="rigged" value="rigged">
    <label class="px-3" for="rigged">Rigged</label>
    <input type="checkbox" name="textured" value="textured">
    <label class="px-3" for="textured">Textured</label>
  </div>
  <hr>
</div>
<br><br>
<div class="container-fluid px-5">
  <div class="row" id="asset-row">
    <div class="col-md-2" id="asset-card" style="display:none">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" id='asset-img' alt="" style="height: 200px; width:100%; display: block;" src="" data-holder-rendered="true">
        <div class="card-body">
          <h4 class="card-title" id="asset-name"></h4>
          <p class="card-text" id="asset-desc"></p>
          <div class="d-flex flex-row align-content-stretch" id="asset-tag-list">
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <form class="font-italic text-muted mb-0 small" id="asset-id-action" action="" method="post">
              <button>Open</button>
            </form>
            <small class="text-muted" id="asset-upload-date">upload date</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto" style="width: 200px;">
  <button type="button" class="btn btn-warning" onclick="LoadMore()">Load More</button>
</div>
<br><br>

<script type="text/javascript">
  var fulldatamodels = <%-JSON.stringify(data.models) %>;
  console.log(fulldatamodels);
  var loadamt = 3;
  var beforelen = 0;
  var afterlen = 0;
  var currentloaddatamodels = [];
  const cardmain = document.getElementById("asset-card");
  const assetrow = document.getElementById("asset-row");

  LoadMore();

  function LoadMore() {
    if (afterlen > fulldatamodels.length) return;
    afterlen = beforelen + loadamt;
    currentloaddatamodels = fulldatamodels.slice(beforelen, afterlen)
    for (i = 0; i < currentloaddatamodels.length; i++) {
      CreateAssetCard(currentloaddatamodels[i])
    }
    beforelen = afterlen;
  }

  function CreateAssetCard(data) {
    let clone = cardmain.cloneNode(true);
    clone.style.display = 'block';
    let assetimg = clone.querySelector("#asset-img");
    assetimg.src = data.assetPath.folderpath.slice(1) + "/"+ data.assetPath.thumbnail;
    console.log(assetimg.src);
    let assetname = clone.querySelector("#asset-name");
    assetname.innerHTML = data.title;
    let assetdesc = clone.querySelector("#asset-desc");
    assetdesc.innerHTML = data.description.substring(0,25) + "...";
    let assettaglist = clone.querySelector("#asset-tag-list");
    for(var i = 0; i<data.tags.length;i++){
      let assettag = document.createElement('h6');
      assettag.innerHTML = data.tags[i];
      assettag.className = "font-weight-light pr-2";
      assettaglist.appendChild(assettag);
    }
    assetrow.appendChild(clone);

  }
</script>

<%- include('partials/footer') %>
