<%- include('partials/header') %>
<link rel="stylesheet" href="modellist.css" />
<section class="d-flex flex-column m-auto mt-5">
  <div class="container-fluid px-5" id="top-bar">
    <div class="mx-auto d-flex justify-content-between">
      <form
        style="width: 400px"
        action="filter"
        method="post"
        id="filter-type-form"
      >
        <label style="font-size: 1.5em" for="search">Download Assets : </label>
        <select
          id="filter-type"
          style="font-size: 1.2em; background: none; border: none"
          name="filter"
          onchange='storeSelectedFilter("filter-type","selectedFilter")'
        >
          <option class="filter" type="button" value="3dmodel" selected>
            3D Model
          </option>
          <option class="filter" type="button" value="script">Script</option>
          <option class="filter" type="button" value="360">360 Image</option>
        </select>
      </form>
      <!-- <form
        class=""
        style="margin: auto; width: 400px"
        action="search"
        method="post"
      >
        <label for="search"></label>
        <input class="large" type="text" name="searchterm" value="" />
        <button class="font-italic large" name="button">Search</button>
      </form> -->
      <form class="" action="search" method="post">
        <label for="search"></label>
        <input class="large" type="text" name="searchterm" value="" />
        <button class="font-italic large" name="button">Search</button>
      </form>
    </div>
    <hr />
    <div class="d-flex flex-wrap align-items-center">
      <div class="form-check form-check-inline text-muted d-flex ps-0">
        <form style="width: 120px" action="format" method="post" id="format-type-form">
          <select
            class="form-select"
            id="format-type"
            aria-label="Floating label select example"
            onchange='storeSelectedFilter("format-type","selectedFormat")'
          >
            <option type="button" value="format" selected >Format</option>
            <option type="button" value="obj">.obj</option>
            <option type="button" value="fbx">.fbx</option>
          </select>
        </form>
      </div>
      <form action="attributes" method="post" id="attributes-type-form">       
        <div class="form-check form-check-inline text-muted d-flex">
          <input
            class="form-check-input"
            type="checkbox"
            name="attributes"
            value="animated"
            onChange='storeCheckedItems()'
          />
          <label class="form-check-label" for="animated">Animated</label>
        </div>
        <div class="form-check form-check-inline text-muted d-flex">
          <input
            class="form-check-input"
            type="checkbox"
            id="lowpoly-type"
            name="attributes"
            value="lowpoly"
            onChange='storeCheckedItems()'
          />
          <label class="form-check-label" for="lowpoly">Low Poly</label>
        </div>
        <div class="form-check form-check-inline text-muted d-flex">
          <input
            class="form-check-input"
            type="checkbox"
            name="attributes"
            value="rigged"
            onChange='storeCheckedItems()'
          />
          <label class="form-check-label" for="rigged">Rigged</label>
        </div>
        <div class="form-check form-check-inline text-muted d-flex">
          <input
            class="form-check-input"
            type="checkbox"
            name="attributes"
            value="textured"
            onChange='storeCheckedItems()'
          />
          <label class="form-check-label" for="textured">Textured</label>
        </div>
      </form>
    </div>
    <hr />
  </div>

  <div class="container-fluid px-5">
    <div
      class="d-flex flex-wrap gap-5 mb-5 justify-content-evenly"
      id="asset-row"
    >
      <div id="asset-card" style="display: none">
        <a id="asset-link" href="#">
          <div class="card upload-card col-md-3 p-0">
            <div class="upload-card-img">
              <img
                class="card-img-top"
                id="asset-img"
                alt=""
                style="height: 200px; width: 100%; object-fit: cover"
                src=""
                data-holder-rendered="true"
              />
            </div>
            <div class="card-body upload-card-body p-3 bg-color-#e5f9f7">
              <h6 class="card-title m-0" id="asset-name"></h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="mx-auto mb-5" style="width: 200px">
    <button type="button" class="btn btn-warning" onclick="LoadMore()">
      Load More
    </button>
  </div>
</section>

<script type="text/javascript">
  var fulldatamodels = <%-JSON.stringify(data.models) %>;
  var loadamt = 8;
  var beforelen = 0;
  var afterlen = 0;
  var currentloaddatamodels = [];
  const cardmain = document.getElementById("asset-card");
  const assetrow = document.getElementById("asset-row");

  LoadMore();

  function LoadMore() {
    if (afterlen > fulldatamodels.length) return;
    afterlen = beforelen + loadamt;
    currentloaddatamodels = fulldatamodels.slice(beforelen, afterlen);
    for (var i = 0; i < currentloaddatamodels.length; i++) {
      CreateAssetCard(currentloaddatamodels[i]);
    }
    beforelen = afterlen;
  }

  function CreateAssetCard(data) {
    let clone = cardmain.cloneNode(true);
    clone.style.display = "block";
    let link = clone.querySelector("#asset-link");
    //console.log(data._id)
    link.href = `/asset/${data._id}`;
    let assetimg = clone.querySelector("#asset-img");
    //console.log(assetimg);
    assetimg.src =
      data.assetPath.folderpath.slice(1) + "/" + data.assetPath.thumbnail;
    //console.log(assetimg.src);
    let assetname = clone.querySelector("#asset-name");
    assetname.innerHTML = data.title;
    assetrow.appendChild(clone);
  }

  function addButtonToCard() {
    const allAssetsDiv = document.getElementById("asset-row");
    const modelButton = document.getElementById("asset-card");
    allAssetsDiv.addEventListener("click", (e) => {
      if (e.target.className === "asset-card") {
        // /asset/:modelid
      }
    });
  }
  addButtonToCard();

  const submitFilterForm = (elementId) => {
    let form = document.getElementById(elementId);
    form.submit();
  };

  const storeSelectedFilter = (elementId, keyName) => {
    let el = document.getElementById(elementId);
    localStorage.setItem(keyName, JSON.stringify(el.value));
    //invoke the submit
    submitFilterForm(`${elementId}-form`);
  };

  const storeCheckedItems = () => {
  // const checkedValues = [];
  const checkedItems =  document.querySelectorAll('input[type=checkbox]:checked'); 
  const arrayCheckedItems = [...checkedItems]
  if (checkedItems.length > 0) {
    const selectedAttributes = arrayCheckedItems.map((item)=>{
      return item.value
    })

    console.log("theres checked boxes");
    localStorage.setItem("selectedAttributes", JSON.stringify(selectedAttributes));
  } else {
    console.log("theres no checked boxes");
    localStorage.setItem("selectedAttributes", JSON.stringify([]));
  }
  //invoke the submit
  submitFilterForm(`attributes-type-form`);
};

  const setSelectedOption = (elementId, elementClass, elementValue) => {
    let form = document.getElementById(elementId);
    const options = form.querySelectorAll(`#${elementClass} option`);
    options.forEach((element) => {
      element.selected = false;
      if (element.value === `${elementValue}`) {
        element.selected = true;
      }
    });
  }
  const showPreviousCheckedItems = () => {
  console.log("show checked items");
  const selectedAttributes = JSON.parse(localStorage.getItem("selectedAttributes"));
  console.log("------->", selectedAttributes);
  //iff theres previous checked items, the clear btn should enabled
  if (selectedAttributes.length > 0) {
    selectedAttributes.forEach((item) => {
      document.querySelector(`input[value=${item}]`).checked = true;
    });
  }
};
  const showPreviousSelectedFilter = () => {
    console.log("show Selected Filter");
    const selectedFilter = JSON.parse(localStorage.getItem("selectedFilter"));
    const selectedFormat = JSON.parse(localStorage.getItem("selectedFormat"));
   
    setSelectedOption("filter-type", "filter", selectedFilter)
    setSelectedOption("format-type", "format", selectedFormat)
    console.log("------->", selectedFilter, selectedFormat);
  };
  const init = () => {
    showPreviousSelectedFilter();
    showPreviousCheckedItems ();
  }

  init()
 
</script>

<%- include('partials/footer') %>
