<%- include('partials/header') %>
<link rel="stylesheet" href="modellist.css" />
<section class="d-flex flex-column m-auto mt-5">
  <div class="container-fluid px-5" id="top-bar">
    <div class="mx-auto d-flex justify-content-between">
      <form
        class=""
        style="width: 400px"
        action="changeAssetType"
        method="post"
      >
        <label style="font-size: 1.5em" for="search">Download Assets : </label>
        <select
          class=""
          style="font-size: 1.2em; background: none; border: none"
          name="type"
        >
          <option value="3dmodel">3D Model</option>
          <option value="script">Script</option>
          <option value="360">360 Image</option>
        </select>
      </form>
      <!-- <form
        class=""
        style="margin: auto; width: 400px"
        action="search"
        method="post"
      >
        <label for="search"></label>
        <input class="large" type="text" name="searchterm" value="" />
        <button class="font-italic large" name="button">Search</button>
      </form> -->
      <form class="" action="search" method="post">
        <label for="search"></label>
        <input class="large" type="text" name="searchterm" value="" />
        <button class="font-italic large" name="button">Search</button>
      </form>
    </div>
    <hr />
    <div class="d-flex flex-wrap align-items-center">
      <div class="form-check form-check-inline text-muted d-flex ps-0">
        <form style="width: 120px" action="changeAssetType" method="post">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
          >
            <option selected>Format</option>
            <option value="obj">.obj</option>
            <option value="fbx">.fbx</option>
          </select>
        </form>
      </div>
      <div class="form-check form-check-inline text-muted d-flex">
        <input
          class="form-check-input"
          type="checkbox"
          name="animated"
          value="animated"
        />
        <label class="form-check-label" for="animated">Animated</label>
      </div>
      <div class="form-check form-check-inline text-muted d-flex">
        <input
          class="form-check-input"
          type="checkbox"
          name="low-poly"
          value="lowpoly"
        />
        <label class="form-check-label" for="lowpoly">Low Poly</label>
      </div>
      <div class="form-check form-check-inline text-muted d-flex">
        <input
          class="form-check-input"
          type="checkbox"
          name="rigged"
          value="rigged"
        />
        <label class="form-check-label" for="rigged">Rigged</label>
      </div>
    </div>
    <hr />
  </div>

  <div class="container-fluid px-5">
    <div
      class="d-flex flex-wrap gap-5 mb-5 justify-content-evenly"
      id="asset-row"
    >
      <div id="asset-card" style="display: none">
        <a id="asset-link" href="#">
          <div class="card upload-card col-md-3 p-0">
            <div class="upload-card-img">
              <img
                class="card-img-top"
                id="asset-img"
                alt=""
                style="height: 200px; width: 100%; object-fit: cover"
                src=""
                data-holder-rendered="true"
              />
            </div>
            <div class="card-body upload-card-body p-3 bg-color-#e5f9f7">
              <h6 class="card-title m-0" id="asset-name"></h6>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="mx-auto mb-5" style="width: 200px">
    <button type="button" class="btn btn-warning" onclick="LoadMore()">
      Load More
    </button>
  </div>
</section>

<script type="text/javascript">
  var fulldatamodels = <%-JSON.stringify(data.models) %>;
  var loadamt = 8;
  var beforelen = 0;
  var afterlen = 0;
  var currentloaddatamodels = [];
  const cardmain = document.getElementById("asset-card");
  const assetrow = document.getElementById("asset-row");

  LoadMore();

  function LoadMore() {
    if (afterlen > fulldatamodels.length) return;
    afterlen = beforelen + loadamt;
    currentloaddatamodels = fulldatamodels.slice(beforelen, afterlen);
    for (var i = 0; i < currentloaddatamodels.length; i++) {
      CreateAssetCard(currentloaddatamodels[i]);
    }
    beforelen = afterlen;
  }

  function CreateAssetCard(data) {
    let clone = cardmain.cloneNode(true);
    clone.style.display = "block";
    let link = clone.querySelector("#asset-link")
    console.log(data._id)
    link.href = `/asset/${data._id}`
    let assetimg = clone.querySelector("#asset-img");
    console.log(assetimg);
    assetimg.src =
      ".." +
      data.assetPath.folderpath.slice(1) +
      "/" +
      data.assetPath.thumbnail;
    console.log(assetimg.src);
    let assetname = clone.querySelector("#asset-name");
    assetname.innerHTML = data.title;
    console.log(assetname.innerHTML);
    // let assetdesc = clone.querySelector("#asset-desc");
    // assetdesc.innerHTML = data.description;
    // console.log(assetdesc.innerHTML);
    // let assettaglist = clone.querySelector("#asset-tag-list");
    // for (var i = 0; i < data.tags.length; i++) {
    //   let assettag = document.createElement("h6");
    //   assettag.innerHTML = data.tags[i];
    //   assettag.className = "font-weight-light pr-2";
    //   assettaglist.appendChild(assettag);
    // }
    assetrow.appendChild(clone);
  }

  function addButtonToCard() {
    const allAssetsDiv = document.getElementById("asset-row");
    const modelButton = document.getElementById("asset-card");
    allAssetsDiv.addEventListener("click", (e) => {
      if (e.target.className === "asset-card") {
        // /asset/:modelid
      }
    });
  }
  addButtonToCard();
</script>

<%- include('partials/footer') %>
