<%- include('partials/header') %>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Immersive Asset Library</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Holds a collection of digital assets made for creating immersive experience.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Log in</button></a>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>
