<%- include('partials/header') %>

<link rel="stylesheet" href="modellist.css">

<div class="container py-5">
  <!-- Upload File Section -->
  <h1>Upload File</h1>
  <form id="upload_form" action="/upload" method="post" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="description">Description:</label><br>
    <input type="textarea" id="description" name="description"><br><br>
    <label for="asset-type">Choose a type:</label>
    <select name="asset-type" id="asset-type" onchange="checktype(this)">
      <option value="3D">3D Model</option>
      <option value="360">360 Image</option>
      <option value="script">Script</option>
    </select><br>
    <label for="tag_input_content">Tags:</label>
    <input type="text" id="tag_input_content" name="tag_input_content" value=""  readonly><br>
    <p id ="selected_tags_group"></p>
    <input type="text" id='tag_create' value=""><br>
    <div class="row no-gutters" id="tag_suggest">

    </div>
    <div class="3D-content">
      <label for="description">Model File:</label><br>
      <input type="file" id="objectfile" name="objectfile" accept=".obj, .fbx"><br><br>
      <label for="description">Diffuse:</label><br>
      <input type="file" id="diffuse" name="diffuse" accept=".png, .jpg, .jpeg"><br><br>
      <label for="description">Metallic Roughness:</label><br>
      <input type="file" id="metallicroughness" name="metallicroughness" accept=".png, .jpg, .jpeg"><br><br>
      <label for="description">Normal Map:</label><br>
      <input type="file" id="normal" name="normal" accept=".png, .jpg, .jpeg"><br><br>
      <label for="description">Occlusion:</label><br>
      <input type="file" id="occlusion" name="occlusion" accept=".png, .jpg, .jpeg"><br><br>
      <label for="description">Emission:</label><br>
      <input type="file" id="emission" name="emission" accept=".png, .jpg, .jpeg"><br><br>
      <input type="checkbox" id="low-poly" name="low-poly" value="LowPoly">
      <label for="low-poly">Low Poly</label><br>
      <input type="checkbox" id="animated" name="animated" value="Animated">
      <label for="animated">Animated</label><br>
      <input type="checkbox" id="rigged" name="rigged" value="Rigged">
      <label for="rigged">Rigged</label><br>


    </div>
    <div class="360-content">
      <label for="description">360 Image</label><br>
      <input type="file" id="360image" name="360image" accept=".png, .jpg, .jpeg"><br><br>
    </div>
    <div class="script-content">
      <label for="description">Script:</label><br>
      <input type="file" id="script" name="script" accept=""><br><br>
      <select name="script-type" id="script-type">
        <option value="csharp">c#</option>
        <option value="javascript">javascript</option>
        <option value="python">python</option>
      </select><br>
    </div>
    <br><input type="submit" id='submit-btn'>
  </form>


</div>
<script type="text/javascript" src="/datamuse.js"></script>
<script type="text/javascript">
  var e = document.getElementById("asset-type");
  checktype(e);
  var value = e.value;
  var suggestedtagelements = [];
  var selectedtagelements = [];

  function checktype(assettype) {
    var value = e.value;
    console.log(value);
    var content3d = document.getElementsByClassName("3D-content")[0];
    var content360 = document.getElementsByClassName("360-content")[0];
    var contentscript = document.getElementsByClassName("script-content")[0];
    console.log(content3d);
    console.log(content360);
    console.log(contentscript);
    switch (value) {
      case "3D":
        // code block
        content3d.style.display = "block";
        content360.style.display = "none";
        contentscript.style.display = "none";
        console.log(content3d);
        break;
      case "360":
        // code block
        content3d.style.display = "none";
        content360.style.display = "block";
        contentscript.style.display = "none";
        console.log("360");
        break;
      case "script":
        // code block
        content3d.style.display = "none";
        content360.style.display = "none";
        contentscript.style.display = "block";
        console.log("script");
        break;
    }
  }

  const node = document.getElementById("tag_create");
  node.addEventListener("keyup", function(event) {
    if (event.key === "Enter") {
      // Do work
      if (selectedtagelements.includes(node.value)) return;
      addTag(node.value);
      createTagSuggestion(node.value);
      node.value = "";

    }
  });

  function clearsuggestedtagelements() {
    if (suggestedtagelements.length === 0) return;
    suggestedtagelements.forEach(e => {
      e.remove();
    })
  }

  function createTagSuggestion(tagname) {
    clearsuggestedtagelements();
    suggestionsFromDatamuse(tagname).then(result => {
      result.forEach(a => {
        createSuggestElement(a.word);
      });
    });
  }

  function createSuggestElement(tagname) {
    let col = document.createElement('div');
    col.classList.add('col-auto');
    document.getElementById('tag_suggest').appendChild(col);
    let tag = document.createElement("p");
    tag.innerHTML = tagname;
    col.appendChild(tag);
    tag.classList.add('tag_element');
    tag.onclick = function() {
      if (selectedtagelements.includes(tagname)) return;
      addTag(tagname);
      createTagSuggestion(tagname);
    };

    //add to suggested tag element array
    suggestedtagelements.push(col);
  }

  function addTag(tagname) {
    //get paragraph child from group
    var paragraph = document.getElementById('selected_tags_group');
    console.log(paragraph);
    //create span element with id of selected_tag_element
    var tag = document.createElement('span');
    tag.innerText = " " + tagname;
    tag.setAttribute("id","selected_tag_element");
    tag.onclick = function() {
      paragraph.removeChild(tag);
      selectedtagelements = selectedtagelements.filter(e => e !== tagname);
    };
    paragraph.appendChild(tag);
    let taginput = document.getElementById("tag_input_content");
    taginput.value = selectedtagelements.toString();
    selectedtagelements.push(tagname);
  }


  function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#blah').attr('src', e.target.result).width(150).height(200);
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>



<%- include('partials/footer') %>
