<%- include('./partials/header') %>

<!-- <link rel="stylesheet" href="./public/edit-page.css"> -->
<script
  type="module"
  src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
></script>
<script type="text/javascript" src="/datamuse.js"></script>

<section class="d-flex flex-column m-auto mt-5">
  <div class="row justify-content-center">
    <div class="col-7 d-flex flex-column flex-wrap">
      <!-- Carousel wrapper -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide carousel-model-view"
        data-bs-interval="false"
      >
        <!-- Slides -->
        <div
          class="carousel-inner shadow-1-strong rounded-3 carousel-model-view"
        >
          <div class="carousel-item active" data-bs-interval="false">
            <model-viewer
              class="model-viewer-dimensions"
              id="model-viewer"
              alt=""
              src=""
              ar
              ar-modes="webxr scene-viewer quick-look"
              seamless-poster
              shadow-intensity="1"
              camera-controls
              enable-pan
            ></model-viewer>
          </div>
          <div class="carousel-item" data-bs-interval="false">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(121).webp"
              class="d-block w-100 carousel-image"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="false">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(31).webp"
              class="d-block w-100 carousel-image"
              alt="..."
            />
          </div>
        </div>
        <!-- Slides -->

        <!-- Controls -->
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#carouselExampleIndicators"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#carouselExampleIndicators"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Controls -->

        <!-- Thumbnails -->
        <div class="carousel-indicators" style="margin-bottom: -20px">
          <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
            style="width: 100px"
          >
            <img
              class="d-block w-100 shadow-1-strong rounded carousel-size"
              src="../uploads/shiba/thumbnail.png"
              class="img-fluid"
            />
          </button>
          <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="1"
            aria-label="Slide 2"
            style="width: 100px"
          >
            <img
              class="d-block w-100 shadow-1-strong rounded carousel-size"
              src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(121).webp"
              class="img-fluid"
            />
          </button>
          <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="2"
            aria-label="Slide 3"
            style="width: 100px"
          >
            <img
              class="d-block w-100 shadow-1-strong rounded carousel-size"
              src="https://mdbcdn.b-cdn.net/img/Photos/Others/Carousel-thumbs/img%20(31).webp"
              class="img-fluid"
            />
          </button>
        
        </div>
        <!-- Thumbnails -->
    
      </div>
      <!-- <div>
        <model-viewer
          class="model-viewer-dimensions border border-secondary rounded-4"
          id="model-viewer"
          alt=""
          src="../uploads/shiba/gltf/scene.gltf"
          ar
          ar-modes="webxr scene-viewer quick-look"
          seamless-poster
          shadow-intensity="1"
          camera-controls
          enable-pan
        ></model-viewer>
      </div> -->
      <div>
        <div>
          <h6>Title</h6>
        </div>
        <hr />
        <div>
          <h6>Description</h6>
          <p>
            Ready for Virtual Reality (VR), and other real-time apps, PBR
            Materials / Textures ready. Add a professional touch to your SciFi
            VideoGame project with this original low poly model. No animated
            parts, script or LOD, Not Rigged. Separated parts (Landing gears,
            weapons, hatch, engines), can be animated, properly linked (see
            preview) Total Polycount with no duplicated parts: Polys/10.417 -
            Verts/11.006- Tris/19.424
          </p>
        </div>

        <div id="selected_tags_group" class="selected-tags">
          <i class="fa-solid fa-tag icon-size"></i>
          <div
            class="tag border border-secondary rounded-2 px-1 text-muted bg-transparent"
          >
            <span class="selected_tag_element"> dog</span>
          </div>
          <div
            class="tag border border-secondary rounded-2 px-1 text-muted bg-transparent"
          >
            <span class="selected_tag_element">cat</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 d-flex flew-wrap gap-4 flex-column">
      <div>
        <h6>3D Model Details</h6>
      </div>
      <div class="border border-secondary rounded-2 p-2">
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Uploaded By</p>
          <p class="m-0">Sandra Fong</p>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Uploaded By</p>
          <p class="m-0">Sandra Fong</p>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between align-items-center p-1">
          <p class="m-0">Uploaded By</p>
          <p class="m-0">Sandra Fong</p>
        </div>
        <hr class="m-0" />
      </div>
      <div class="w-100">
        <button type="button" class="w-100 btn theme-color btn-rounded">
          Download
        </button>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
    var data = <%-JSON.stringify(data) %>;
    console.log(data)
    var modelviewer = document.getElementById("model-viewer");
    console.log(modelviewer)
//   function getTextureFromFilesArray(typename) {
//     var result = "";
//     for (i = 0; i < files.length; i++) {
//       if (files[i].split("_")[0] == typename) {
//         result = files[i];
//       }
//     }
//     return result;
//   }

getEJScontent(data);

function getEJScontent(data){
    console.log(data.assetPath.folderpath + "/" + data.assetPath.gltfmodelpath)
    modelviewer.src = data.assetPath.folderpath + "/" + data.assetPath.gltfmodelpath
}


 modelviewer.addEventListener("load", (data) => {
    const material = modelviewer.model.materials[0];
    const createAndApplyTexture = async (channel) => {
      // Applies the new texture to the specified channel.
    //   var diffusepath = getTextureFromFilesArray("diffuse");
      if (diffusepath != "") {
        var diffuse = await modelviewer.createTexture(
          "." + data.assetPath.folderpath + "/" + data.assetPath.diffuse
        );
        material.pbrMetallicRoughness["baseColorTexture"].setTexture(diffuse);
      }
      //var emissivepath = getTextureFromFilesArray("emissive");
      if (emissivepath != "") {
        var emission = await modelviewer.createTexture(
            "." + data.assetPath.folderpath + "/" + data.assetPath.emission
        );
        material["emissiveTexture"].setTexture(emission);
      }
    };
    createAndApplyTexture("baseColorTexture");
  });

</script>

<%- include('./partials/footer') %>
