/* .model-viewer {
  width: 600px;
  height: 600px;
} */

.footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}

.trash-btn {
  cursor: pointer;
  color: red;
  padding-left: 1em;
  margin: auto 0;
}

/* .current-file-text {
  font-size: 12px;
} */

@media (min-width: 1200px) {
}
.container {
  max-width: 1300px;
}

.tag_element {
  margin-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: darkslategray;
  border: 1px solid beige;
}

#selected_tag_element:hover {
  background-color: beige;
}

#tag_input_content {
  display: none;
  background: none;
  border: none;
}

#tag_input_content:focus {
  outline: none !important;
}

#tag_input_content:hover {
  background-color: #ffff66;
}
