.error-message {
  color: red;
}

.login-page {
  height: 500px;
}
.title {
  font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2868a6;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.header-title{
  font-family: Oswald;
  font-size: 30px;
  font-weight: 500;
}

.header-subtitle{
  font-weight: 300;
}

.background-color {
  background: linear-gradient(to left, #f1f1f1 200px, #fff 100px);
  z-index: -10;
}
.login-img {
  z-index: 10;
}
.theme-color,
.theme-color:hover {
  background: linear-gradient(to left, #113865, #2b7a9e);
  color: white;
}
.theme-color-outline,
.theme-color-outline:hover {
  outline: solid 1px;
  outline-color: #38779963;
  color: #387799;
}

.tab-content-height {
  /* height: 630px; */
  height: inherit;
  margin-bottom: 100px;
}
.password-eye{
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  margin-top: 8px;
}
.enrollment-row {
  height: 10%;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  flex: 1 0 0;
}
.password-page-btn {
  width: 100%;
}

.attribute-check{
color: #1bd21b;
}
.attribute-cross{
color: #f41919
}

.email-input {
  top: 2px !important;
}

.admin-input {
  border: 1px solid #bdbdbd;
}

.email-box {
  height: 32px;
  width: 263px;
}
.table-body {
  background-color: #e9fcfd;
}
.delete-icon {
  font-size: 18px;
}

.my-custom-scrollbar {
  position: relative;
  height: 55%;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.sticky-table-headers__sticky {
  background: white;
  position: sticky;
  top: -0.5px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}

.uploads-row,
.downloads-row {
  --mdb-gutter-x: 0 !important;
  width: 80%;
}
.uploads-nav {
  width: 20%;
  gap: 1em; 
}

.upload-card-img-div{
  height: 150px;

}
.upload-card-img{
  height: inherit;
  object-fit: cover;
  padding: 5px;
}

.upload-card {
  width: 230px;
  height: 230px;
}

.uploads-assetActive,
.downloads-assetActive{
  font-weight: bolder;
  border: solid #3a6e86;
  border-width: 0 0 0 2px;
}
.profile-body {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
