<%- include('../partials/header'); %>
<div class="m-auto">
  <section class="w-75 m-auto">
    <div
      class="container p-5 rounded-8 shadow-6 d-flex justify-content-between flex-wrap background-color"
    >
      <div class="row d-flex align-self-center justify-content-evenly">
        <div class="align-self-center mb-4">
          <%if(checkEmail){%>
          <h1 class="title">Check your email</h1>
          <%}else{%>
          <h1 class="title">Password Reset Successfully</h1>
          <%}%>
        </div>
        <div class="align-self-center mb-4">
          <div class="form-outline mb-4">
            <%if(checkEmail){%>
            <p class="text-center">
              We sent a password reset link to <strong><%= email %></strong>
            </p>
            <%}else{%>
            <p class="text-center">
              Login with your new password to continue
            </p>
            <%}%>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/login">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); %>
