<%- include('../partials/header'); %>
<div class="m-auto">
  <section class="w-75 m-auto">
    <div
      class="container p-5 rounded-8 shadow-6 d-flex justify-content-between flex-wrap background-color"
    >
      <div class="row d-flex align-self-center justify-content-evenly">
        <div class="align-self-center mb-4">
          <h1 class="title">Check your email</h1>
        </div>
        <div class="align-self-center mb-4">

            <div class="form-outline mb-4">
              <p class="text-center">We sent a password reset link to <strong><%= email %></strong></p>            
            </div>
            <div class="d-flex justify-content-center">
              <a href="/login">             
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Login
              </a>
            </div>
         
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); %>
