<%- include('../partials/header'); %>
<div class="m-auto">
  <section class="w-75 m-auto">
    <div
      class="container pt-5 rounded-8 shadow-6 d-flex justify-content-between flex-wrap background-color"
    >
      <div class="row d-flex align-self-center justify-content-evenly">
        <div class="align-self-center mb-4">
          <h1 class="title">Forgot password?</h1>
        </div>
        <div class="align-self-center p-4">
          <p class="m-0">Enter you email to receive a password reset link</p>
          <form action="/reset-password-link" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                name="email"
                type="email"
                id="form1Example23"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="form1Example23">Email</label>
            </div>
            <!-- Submit button -->
            <div class="text-center">
              <button
                type="submit"
                class="theme-color btn btn-lg btn-block mb-4"
              >
                Send Link
              </button>
              <a href="/login">             
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Login
                </a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer'); %>
