<%- include('../partials/header') %>

<body>
  <style>
    .drop-zone {
      border: 2px dotted gray;
      width:  auto;
      height: 400px;
    }

    .horizontal-middle {
      text-align: center;
    }

    .browse-btn {
      text-decoration: underline;
    }


    .upload-btn-group {
      padding-top: 2em;
    }

    .upload-page-btn {
      border: 1px solid black;
      background-color: white;
      /* border-radius: 30%; */
      color: black;
      padding: 14px 48px;
    }

    .card {
        width: 120px;
        height: 120px;
        position: relative;
        display: inline-block;
    }

    .file-btn {
      padding: 3px;
      width: 24px;
      height: 24px;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      text-align: center;
      background: rgba(0,0,0,.1);
      background: #e5e5e9;
      margin-left: 4px;
      border-radius: 100%;
      cursor: pointer;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .card-file-info {
      position: absolute;
      height: 32px;
      width: 100%;
      bottom: 0;
      left: 0;
    }

  </style>

<div class="horizontal-middle"><h2>Upload a new asset</h2></div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <div class="drop-zone">
        <div class="collected-files">
        </div>
        <div class="horizontal-middle">
          <span class="drag-text">Drag and Drop </span><br>
          <span class="">or <span class="browse-btn" id="browse-btn" onclick="browse()">Browse</span></span>
          <input type="file" id="browse-input" name="file" value="" style="display:none;">
        </div>
        <p class="horizontal-middle" id="format-support-info">We support ....</p>
        <p class="horizontal-middle" id="format-3dmodel-info">You can also upload a model folder like ZIP, RAR, or 7z, containing only your textures, materials, and mesh.</p>
        <p class="horizontal-middle">Additional files can be added in the next step</p>
      </div>
      <div class="upload-btn-group">
        <button class="upload-page-btn left" type="button" name="button">Cancel</button>
        <button class="upload-page-btn right" type="button" name="button">Next</button>
      </div>

    </div>
    <div class="col">
      <label for="asset-select">Select Asset Type:</label>
      <select name="assets" id="asset-select" onchange="triggerChangeWithAssetSelect()">
          <option value="3dmodel">3D Model</option>
          <option value="script">Script</option>
          <option value="360image">360 Image</option>
      </select>

      <label id="asset-format-id" for="asset-format">Select Format:</label>
      <select name="format" id="asset-format" onchange="clearAllFileContent()">
      </select>
    </div>
  </div>
</div>


</body>

<script>
  const dragArea = document.querySelector(".drop-zone");
  const dragText = document.querySelector(".drag-text");
  const collectedfiles = document.querySelector(".collected-files");

  let acceptedtype = "";
  let currenttype = "";


  function createFileCard(filename){
    //create a card
    const card = document.createElement("div");
    card.classList.add("card");
    collectedfiles.appendChild(card);

    //create remove-btn for the card
    var removebtn = document.createElement('a');
    removebtn.classList.add("file-btn");
    removebtn.addEventListener('click', function(event) {
      removeFile(card,filename);
      event.preventDefault();
      });

    card.appendChild(removebtn);
    //create image for the card
    var img = document.createElement('img');
    img.src = '';
    img.classList.add("img-top");
    card.appendChild(img);


    //create file info
    var fileinfo = document.createElement('div');
    fileinfo.classList.add('card-file-info');
    card.appendChild(fileinfo);
    var fileinfospan = document.createElement('span');
    fileinfospan.innerHTML = filename;
    fileinfo.appendChild(fileinfospan);
  }
  function clearFilesIfNewType(newtype){
    if(currenttype != newtype){
      clearAllFileContent();
      currenttype = newtype;
    }
  }
  function clearAllFileContent(){
    collectedfiles.innerHTML = '';
    files = [];
  }

  function removeFile(card, filename){
    card.remove();
    for( var i = 0; i < files.length; i++){
        if ( files[i].name === filename) {
            files.splice(i, 1);
        }
    }
  }

  function setAcceptedType(type){
    console.log('change accepted type');
    switch (type)
    {
      case "image":
        acceptedtype = "image/";
        break;
      case "script":
        acceptedtype = "text/";
        break;
      case "model":
        acceptedtype = "";
        break;
    }

  }

  let files = [];
  dragArea.addEventListener('dragover', (event)=>{
    event.preventDefault();
    console.log('File is inside the drag area');
    dragText.textContent = "Release to Upload"
  });
  dragArea.addEventListener('dragleave', ()=>{
    console.log('File left the drag area');
    dragText.textContent = "Drag & Drop"
  });
  dragArea.addEventListener('drop', (event)=>{
    event.preventDefault();
    if (event.dataTransfer.items) {
      // Use DataTransfer interface to access the file(s)
      [...event.dataTransfer.files].forEach((file, i) => {
        if(acceptedtype != ""){
          if (file.type.startsWith(acceptedtype)) {
            files.push(file);
            console.log('File is an accepted type.', file.type, file);
            createFileCard(file.name);
          }
        } else {
          //accept if it's model
          files.push(file);
        }
    });
    }
  });

//browse button
function browse(){
  var i = document.getElementById("browse-input");
  i.click();
}

//updating page based on selected asset
triggerChangeWithAssetSelect();
function triggerChangeWithAssetSelect() {
  var e = document.getElementById("asset-select");
  var value = e.value;
  var options = [];
  var supportformat = "";
  switch (value) {
    case "360image":
      options = ["cubemap", "equirectangular"];
      supportformat = "We support JPG, JPEG, PNG.";
      setAcceptedType("image");
      enableModelInfo(false);
      break;
    case "script":
      options = ["c#", "javascript", "python"];
      supportformat = "We support c#, javascript, python.";
      setAcceptedType("script");
      enableModelInfo(false);
      break;
    case "3dmodel":
      supportformat = "We support obj, fbx.";
      setAcceptedType("model");
      enableModelInfo(true);
      break;
  }
  clearFilesIfNewType(value);
  createAssetFormat(options);
  updateSupportFormatText(supportformat);
}

function createAssetFormat(opts){
  var x = document.getElementById("asset-format");
  var y = document.getElementById("asset-format-id");
  if(opts.length == 0){
    x.style.display = "none";
    y.style.display = "none";
  } else {
    x.style.display = "inline-block"
    y.style.display = "inline-block"
    x.options.length = 0;
    opts.forEach((o)=>{
      var option = document.createElement("option");
      option.text = o;
      option.value = o;
      x.add(option);
    });
  }

}
function updateSupportFormatText(t){
  var i = document.getElementById("format-support-info");
  i.innerHTML = t;
}
function enableModelInfo(b){
  var i = document.getElementById("format-3dmodel-info");
  if(b){
    i.style.display = "inline-block";
  } else {
    i.style.display = "none";

  }
}
</script>


<%- include('../partials/footer') %>
